body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

.container-home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-home {
  margin-bottom: 20px;
}

.header-home h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.header-home p {
  font-size: 18px;
  color: #555;
}
